@tailwind base;
@tailwind components;
@tailwind utilities;


.background-container {
    background-image: url('/images/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  /* Le fond est fixé et ne crée pas de trous blancs */
    min-height: 100vh;  /* Garde la hauteur minimale à 100% de la fenêtre */
    width: 100%;        /* Utilise 100% de la largeur */
    position: relative; /* Nécessaire pour la gestion des overlays */
}





.navbar{
    backdrop-filter: blur(17px) saturate(0%);
    -webkit-backdrop-filter: blur(17px) saturate(0%);
    background-color: rgba(213, 55, 75, 0.8);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

#hamburger .line-1,
#hamburger .line-2 {
    position: relative;
    width: 24px; /* Largeur des barres */
    height: 2px; /* Épaisseur des barres */
    background-color: #D97706; /* Couleur de la barre */
    display: block;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#hamburger .line-2 {
    margin-top: 5px; /* Espacement ajusté entre les deux barres à l'état initial */
}

#toggle_nav:checked ~ .flex .line-1 {
    transform: translateY(5px) rotate(45deg); /* Ajustement précis pour la première diagonale */
}

#toggle_nav:checked ~ .flex .line-2 {
    transform: translateY(-5px) rotate(-45deg); /* Ajustement précis pour la seconde diagonale */
}
